<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>error</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>
</head>
<body>
    <header>
            <h1><a href="/">WEATHER</a></h1>
            <nav>
                <ul class="nav">
                    <li><a href="#">current</a></li>
                    <li><a href="#">hourly</a></li>
                    <li><a href="#">5 days</a></li>
                    <li><a href="#">week</a></li>
                </ul>
            </nav>
    </header>
    <main>
        <div class="error">
            <h2>Sorry. try again</h2>
        </div>
    </main>
</body>
</html>